<div id="battle_stage" width="100%">
    <div style="position:relative;">
        <img src="img/background.png" width="100%;">
    </div>
    <div id="enemy_pokemon" style="float:left; position: absolute; top: 11%; left: 70%">
        <img src="{{enemy_pokemon_image}}">
    </div>
    <div id="friendly_pokemon" style="float:left; position: absolute; top: 30%; left: 20%">
        <img src="{{friendly_pokemon_image}}">
    </div>
    <table>
        <tr>
            <td><input type="button" value="Tackle" onclick="javascript:main.battle_attack_pokemon();"></td>
        </tr>
    </table>
</div>