<div id="select_pokemon">
    <div id="welcome_text" style="width:55%; float:left;">
        Welcome to the world of Pokemon!<br/>
        Select your Pokemon below to get started!
    </div>
    <div id="oak" style="align:right; float:right; position: relative;">
        <img src="img/Professor_Oak_BW.png">
    </div>
    <div id="pokemon_selection" style="float: left; position: relative; top: 10%;">
        <table>
            <tr>
                <td style="width:100px;">
                    <img style="height: 100%; width: 100%;" src="img/pokemans/001.gif">
                </td>
                <td style="width:100px;">
                    <img style="height: 100%; width: 100%;" src="img/pokemans/004.gif">
                </td>
                <td style="width:100px;">
                    <img style="height: 100%; width: 100%;" src="img/pokemans/007.gif">
                </td>
            </tr>
        </table>
    </div>
</div>