#combatlog {
    border: 0px solid white;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin: 0px;
    width: 400px;
    height: 500px;
    
    background-color: #000;
    color: #FFF;
}

#select_pokemon {
    height: 100%;
    width: 100%;
}

#actionscreen {
    text-align: center;
}

button {
    border: 1px black;
}